<div id="<%= dom_id list_five_trash_metal_best_band %>">
  <p>
    <strong>Title:</strong>
    <%= list_five_trash_metal_best_band.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= list_five_trash_metal_best_band.description %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= list_five_trash_metal_best_band.text %>
  </p>

</div>
