<h1>Editing list five trash metal best band</h1>

<%= render "form", list_five_trash_metal_best_band: @list_five_trash_metal_best_band %>

<br>

<div>
  <%= link_to "Show this list five trash metal best band", @list_five_trash_metal_best_band %> |
  <%= link_to "Back to list five trash metal best bands", list_five_trash_metal_best_bands_path %>
</div>
