<h1>New list five trash metal best band</h1>

<%= render "form", list_five_trash_metal_best_band: @list_five_trash_metal_best_band %>

<br>

<div>
  <%= link_to "Back to list five trash metal best bands", list_five_trash_metal_best_bands_path %>
</div>
